.header {
  margin-top: 50px;
}
.navlink {
  text-decoration: none;
  color: rgb(28, 27, 27);
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}
.div__nav {
  margin-bottom: 25px;
  text-align: center;
}
